<configuration debug="false">
	<contextName>zedReckoning</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %contextName [%thread][%logger{0}] %m%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>zedReckoning.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{0}] %m%n</pattern>
		</encoder>
	</appender>
	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="com.zombie" level="DEBUG">
		<appender-ref ref="FILE" />
	</logger>
</configuration>